<div class="jumbotron container">
<h1> This is home page </h1>
<ul>
<% @users = User.all %>
<% @users.each do |user| %>

	<% if user.email != current_user.email %>
		<li>
		  	<%= user.email %><br/>
		 	
		</li>
	<% end %>
<% end %>
</ul>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete,  class: "btn btn-primary btn-lg btn_custom"%>
</div>
